    div {
        height: 23vh;
        border-radius: 50px 0 50px 0px;
        background: var(--ion-color-primary);
        margin-bottom: 10px;
        img{
            height: 100%; 
            width: 100%;
            object-fit: contain;
        }
    }
    ion-content {
        --background: var(--ion-color-light);
        ion-list {
          background: var(--ion-color-light);
          .heading {
            font-family: lato;
          }
          .popItem {
            width: 90%;
            margin: auto;
            margin-bottom: 15px;
            border-radius: 10px;
            padding: 0;
            ion-thumbnail {
              min-width: 5rem;
              min-height: 6rem;
              border-radius: 10px;
              background: var(--ion-color-tertiary);
              img{
                height: 100%; 
                width: 100%;
                object-fit: contain;
            }
            }
            ion-label {
              ion-note {
                font-size: 1.1rem;
                letter-spacing: 0.5px;
              }
              p {
                margin-top: 5px;
                ion-text {
                  span {
                    color: var(--ion-color-dark);
                    padding: 0 5px;
                  }
                }
              }
            }
          }
        }
      }

      ion-segment {
        --background:  var(--ion-color-tertiary);
        margin: 5px;
      }